################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/unity/strategy/Library/Artifacts
/unity/strategy/Library/Bee
/unity/strategy/Library/PackageCache
/unity/strategy/Library/ShaderCache
/unity/strategy/Logs
/unity/strategy/obj/Debug
/unity/strategy/Temp
