################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/unity/strategy/Library/*
/unity/strategy/Logs/*
/unity/strategy/obj/Debug/*
/unity/strategy/Temp/*
/unity/strategy/.vs/strategy/v16/*
/unity/strategy/Builds/*
/unity/strategy/Library/PlayerDataCache/Win64/*
